<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="IBF" value="https://pkgs.dev.azure.com/ibforg/IBF-Development/_packaging/ibf-nuget/nuget/v3/index.json" />
    <add key="DevExpress" value="https://nuget.devexpress.com/zwOqNgvqFXt54S5O6nHWKKmeYgkgRGJuTEyl2OmbhSbjEnDFWf/api" />
  </packageSources>
</configuration>


